.resetButton{
    margin: 20px;
}
.driverInputs{
    border: 5px solid black;
    border-radius: 10px;
}
.greeting{
    color: var(--secondary);
}


.queue{
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    justify-content: center;
    align-items: center;
    /* border: 2px solid var(--secondary);
    border-radius: 10px; */
    padding: 10px;
  }

.pageDriver{
    position: relative; /* Establish positioning context */
    width: 100%; /* Full viewport width */
    height: 100%; /* Full viewport height */
    box-sizing: border-box; /* Include padding and border in size */
    padding: 10px;
}

.riderInformation {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.queueList {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}