@tailwind base;
@tailwind components;
@tailwind utilities;
/*
padding: all
padding: topbottom leftright
padding: top leftright bottom
padding: top right bottom left

*/
@font-face {
  font-family: "Crimson";
  src: url(./fonts/Crimson/CrimsonText-Regular.ttf) format('ttf');
  font-weight: 400;
}
:root {
  --primary: #212121;
  --secondary: hsl(32, 34%, 85%);
  --green: #4caf50;
  --red: #de6451;
  --gray: #212121;
  --lightGray: #515151;  
  font-family: "Crimson" ;
  line-height: 1.5;
  color-scheme: light dark;



}

html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; Prevent scrolling */
}

#root {
  display: flex; 
  justify-content: center;
  align-items: center;
  background: var(--gray); 
  width: 100%;
  height: 100%;
  /* overflow: hidden; Prevent scrolling */
}

*{
  box-sizing: border-box;
  /* border: 1px solid lime; */
}

h1, h2, h3, h4, h5, h6, p, strong, span, div, label, input {
  color: var(--secondary);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.1;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}

button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.625rem;
  margin: 0.625rem ;
  font-size: 1.25rem;
  width: 100%;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(0.1875rem, 0.1875rem);
}

label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 0.625rem 0;
}

input{
  background-color: transparent;
  color: var(--lightGray); 
  padding: 0.625rem;
  font-size: 1.2rem;
  width: 100%;
}

/* Intro Page */
.mainPage{
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
}


/* Invert main logo so that it is white not black */

.mainImage {
  filter: invert(65%);
}


.chariotTitle{
  color: var(--secondary);
  font-size: 3.5rem;
  line-height: 1.5;
}
.welcome{
  margin: 1.25rem 1.25rem 0; 
  text-align: center;
}
.gotACode{
  margin: 0 0.625rem;
  color: white; 
}
.codeContainer{
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
  gap: 0.625rem; /* Add a gap between all items in the container */
}

/* From Uiverse.io by G4b413l */ 
.inputGroup {
  position: relative;
}
 
.input {
  font-size: 1.15rem;
  padding: 0.625rem 0 0.625rem 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--lightGray);
  color: white; 
  background: transparent;
}
.input::placeholder{
  color: var(--lightGray);
  font-size: 1rem;
}
 
.input:focus {
  outline: none;
}
 
.inputGroup label {
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.3125rem;
  top: 0.625rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
 
.input:focus ~ label, .input:valid ~ label {
  top: -1.25rem;
  font-size: 0.875rem;
  color: var(--primary);
}
 
.bar {
  position: relative;
  display: block;
  width: 100%;
}
 
.bar:before, .bar:after {
  content: '';
  height: 0.125rem;
  width: 0;
  bottom: 0.0625rem;
  position: absolute;
  background: var(--primary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
 
.bar:before {
  left: 50%;
}
 
.bar:after {
  right: 50%;
}
 
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
}
 
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
 
.input:focus ~ .highlight {
  animation: inputHighlighter 0.2s ease;
}
 
@keyframes inputHighlighter {
  from {
    background: var(--primary);
  }
 
  to {
    width: 0;
    background: transparent;
  }
}

/* Reset Button */
.resetButton{
  display: flex;
  width: 35%;
  color: var(--secondary); 
  justify-content: center;
  justify-self: center;
  background-color: var(--primary);
  border: solid 2px var(--secondary);
  border-radius: 8px;
}
/* Driver Login Page Styles */
.submit{
  margin: 0px;
  background-color: var(--green);
  color: white;
}
.pageTitle{
  margin: 1.25rem; 
  color: var(--secondary);
}

.inputsContainer{
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
  justify-content: center;
  border: 0.125rem solid var(--lightGray);
  border-radius: 0.625rem;
  padding: 1vh;
  max-height: 50vh;
}
.fieldLabel{
  font-size: 1.2rem;
  color: var(--secondary);
}
    
.greeting{
  margin: 1.25rem;
}
.queue{
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
  justify-content: center;
  border: 0.125rem solid var(--lightGray);
  border-radius: 0.625rem;
  padding: 0.625rem;
}
.driverInformation{
  width: 100%;
  border: 0.3125rem solid var(--lightGray); 
  border-radius: 0.0625rem;
  padding: 0.625rem;
  justify-self: center;
}
.currentPassengerName{
  text-align: center;
  line-height: 1.1;
  font-size: 2.8rem;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.625rem;
  gap: 0.625rem;
  position: relative;
}

.clickablePhone{
  display: flex;
  padding: 0.625rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  background-color: var(--secondary);
  border-radius: 0.5rem;
  width: 100%;
  justify-content: center;
  align-self: center;
  color: var(--primary);
  margin-top: 0.625rem;
}

/* Queue Table Component */
/* .scrollableList{
  background-color: var(--gray);
  flex-grow: 1;
  padding: 0.9375rem;
  border: 0.25rem solid transparent;
  overflow-y: auto; 
  border: 0.125rem solid var(--lightGray);
  border-radius: 0.625rem;
  position: relative;
  height: 40vh;
} */

.driver-queue-container table.queue-table th,
.driver-queue-container table.queue-table td {
  padding: 0.3125rem; /* Add padding to cells for better readability */
  text-align: left; /* Align text to the left */
  border: 0.0625rem solid var(--lightGray); /* Add borders to cells */
}

.driver-queue-container table.queue-table th {
  background-color: var(--lightGray); /* Add a light background to header cells */
  font-weight: bold; /* Make header text bold */
}
.mapButtons{
  margin-top: 0.625rem;
  justify-self: center;
}
/* Rider Input */
.riderInput {
  margin: 1vh;
}
/* Main Rider Page */
.pageRider{
  width: 100%;
}
.riderInformation{
  display: none;
  flex-direction: column;
  margin: 0.625rem;
  justify-content: center;
  border: 0.125rem solid var(--lightGray);
  border-radius: 0.625rem;
  padding: 0.625rem;
}
.riderMap{
  margin: 1.25rem;
  max-height: 20rem;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  width: 100%;
  height: 20%;
}
.idLogo{
  font-size: 7.5rem;
  justify-self: center;
  align-items: center;
  height: 10%;
}


.queueNumber{
  font-size: 2.5rem;
  font-weight: bold;
}
.queueNumber[data="0"],
.queueNumber[data="1"]
{
  color: green;
}
.queueNumber[data="2"],
.queueNumber[data="3"]
{
  color: yellow;
}
.queueNumber[data="4"]
{
  color: red;
}
/* Driver Info card */
.drivers-container{
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
  justify-content: center;
  border: 0.125rem solid var(--lightGray);
  border-radius: 0.625rem;
  padding: 0.625rem;
}
.driverInfoCard{
  margin: 1.25rem 0.625rem;
}

/* Suggestion Item */
.suggestion-item{
  padding: 0.3125rem;
}
.suggestionDiv{
  background-color: var(--gray);
  z-index: 1000;
  position: fixed;
}
.spin {
  font-size: 1.875rem; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mapWithDirections{
  border-radius: 0.625rem;
  margin: 0.625rem;
}

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 12.5rem;
  height: 3.75rem;
  position: fixed; /* Change to fixed to position relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the top-left corner to center */
  z-index: 1;
}

.circle {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 3.75rem;
    height: 0.3125rem;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 1.25rem;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 1.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 3.875rem;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
.showMap{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0.625rem 0;
}
.currentDriver{
  width: 100%;
  gap: 0.625rem;
}
i{
  margin: 0px 0.625rem; 
}