@tailwind base;
@tailwind components;
@tailwind utilities;
/*
padding: all
padding: topbottom leftright
padding: top leftright bottom
padding: top right bottom left

*/
@font-face {
  font-family: "Crimson";
  src: url(./fonts/Crimson/CrimsonText-Regular.ttf) format('ttf');
  font-weight: 400;
}
:root {
  --primary: #515151;
  --secondary: hsl(32, 34%, 85%);
  --green: #4caf50;
  --red: #de6451;
  --gray: #212121;
  --lightGray: #515151;  
  font-family: "Crimson" ;
  line-height: 1.5;
  color-scheme: light dark;
}

html, body{
  margin: 0;
  padding: 0;
  
  width: 100vw;
  height: 100vh;
  /*overflow: hidden; /*No scrolling*/
/*
  --s: 100px;  Control the size 
  --c1: #585858;
  --c2: rgb(39, 39, 39);
  --c3: rgb(49, 49, 49);
  
  /*
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
  */
}

#root {
  display: flex; 
  justify-content: center;
  align-items: top;
  background: var(--gray); 
  width: 100%;
  height: 100%;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
*{
  box-sizing: border-box;
  /*outline: 1px solid lime; /* Debugging purposes */
}


h1, h2, h3, h4, h5, h6, p, strong, span, div, label, input {
  color: var(--secondary);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.1;
}


h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}

button {
  display: flex;
  justify-self: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px 0px;
  font-size: 1.25rem;
  width: 100%;
  background-color: var(--secondary);
  font-size: 1.5rem;
  color: var(--primary);
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

input{
  background-color: transparent;
  color: var(--lightGray); 
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
}

/* Intro Page */
.mainPage{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.chariotTitle{
  color: var(--primary);
  font-size: 3.5rem;
  line-height: 1.5;
}
.welcome{
  margin: 20px 20px 0px 20px; 
  text-align: center;
  /*color: transparent;
  background: linear-gradient(#f7be04,#ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.2);*/
}
.gotACode{
  margin: 0px 10px 0px 10px;
  color: transparent;
  color: white; 
  /*
  background: linear-gradient(#f7be04,#ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.2);*/
}
.codeContainer{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  gap: 10px; /* Add a gap between all items in the container */
}


/* From Uiverse.io by G4b413l */ 
.inputGroup {
  position: relative;
 }
 
 .input {
  font-size: 1.15rem;
  padding: 10px 10px 10px 0px;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--lightGray);
  color: white; 
  background: transparent;
 }
 .input::placeholder{
  color: var(--lightGray);
  font-size: 1rem;
 }
 
 .input:focus {
  outline: none;
 }
 
 .inputGroup label {
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--primary);
 }
 
 .bar {
  position: relative;
  display: block;
  width: 100%;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--primary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.2s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: var(--primary);
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }




/* Reset Button */
.resetButton{
  display: flex;
  width: 35%;
  color: black; 
  justify-content: center;
  justify-self: center;
  background-color: var(--lightGray);
}
/* Driver Login Page Styles */
.submit{
  background-color: var(--green);
}
.pageTitle{
  margin: 20px 20px 0px 20px; 
  color: var(--secondary);

}
.inputsContainer{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  justify-content: center;
  border: 2px solid var(--lightGray);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.fieldLabel{
  font-size: 1.2rem;
  color: var(--secondary);
}
    
/* Driver Main Page */
.pageDriver{
  width: 100%;
}
.greeting{
  margin: 20px;
}
.queue{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  justify-content: center;
  border: 2px solid var(--lightGray);
  border-radius: 10px;
  padding: 10px;
}
.driverInformation{
  width: 100%;
  border: 5px solid var(--lightGray); 
  border-radius: 1px;
  padding: 10px;
  justify-self: center;
}
.currentPassengerName{
  text-align: center;
  line-height: 1.1;
  font-size: 2.8rem;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}
.clickablePhone{
  display: flex;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid transparent;
  background-color: var(--secondary);
  border-radius: 10px;
  width: 30%;
  justify-content: center;
  color: var(--primary)
  
}

/* Queue Table Component */
.scrollableList{
  background-color: var(--gray);
  padding: 15px;
  border: 4px solid transparent;
  overflow-y: scroll;
  max-height: 45vh;
  border: 2px solid var(--lightGray);
  border-radius: 10px;
}

.driver-queue-container table.queue-table th,
.driver-queue-container table.queue-table td {
  padding: 5px; /* Add padding to cells for better readability */
  text-align: left; /* Align text to the left */
  border: 1px solid var(--lightGray); /* Add borders to cells */
}

.driver-queue-container table.queue-table th {
  background-color: var(--lightGray); /* Add a light background to header cells */
  font-weight: bold; /* Make header text bold */
}
.mapButtons{
  margin-top: 10px;
  justify-self: center;
}
/* Rider Input */
.riderInput {
  margin: 10px;
}
/* Main Rider Page */
.pageRider{
  width: 100%;
}
.riderInformation{
  display: none;
  /* display: flex; */
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  justify-content: center;
  border: 2px solid var(--lightGray);
  border-radius: 10px;
  padding: 10px;
  /*
  border: 2px solid rgba(0, 0, 0, 0.2); 
  border-radius: 15px;
  background: linear-gradient(135deg, rgb(39,39,39), rgb(102, 102, 102));
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  */
}
.riderMap{
  margin: 20px;
  max-height: 20rem;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.idLogo{
  font-size: 7.5rem;
  justify-self: center;
  align-items: center;

}
.queueNumber{
  font-size: 2.5rem;
  font-weight: bold;
}
.queueNumber[data="0"],
.queueNumber[data="1"]
{
  color: green;
}
.queueNumber[data="2"],
.queueNumber[data="3"]
{
  color: yellow
}
.queueNumber[data="4"]
{
  color: red
}
/* Driver Info card */
.drivers-container{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  justify-content: center;
  border: 2px solid var(--lightGray);
  border-radius: 10px;
  padding: 10px;
}
.driverInfoCard{
  margin: 20px 10px;
}



/* Suggestion Item */

.suggestion-item{
  padding: 5px;
}
.suggestionDiv{
  background-color: var(--gray);
  z-index: 1000 ;
  position: fixed ;
}
.spin {
  font-size: 30px; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mapWithDirections{
  border-radius: 10px;
  margin: 10px;
}

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 200px;
  height: 60px;
  position: fixed; /* Change to fixed to position relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the top-left corner to center */
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
