@tailwind base;
@tailwind components;
@tailwind utilities;
/*
padding: all
padding: topbottom leftright
padding: top leftright bottom
padding: top right bottom left

*/
@font-face {
  font-family: "Crimson";
  src: url(./fonts/Crimson/CrimsonText-Regular.ttf) format('ttf');
  font-weight: 400;
}
:root {
  --primary: #ca8a04;
  --secondary: #ca6104;
  --green: #4caf50;
  --red: #de6451;
  --gray: #1a1a1a;
  font-family: "Crimson" ;
  line-height: 1.5;
  color-scheme: light dark;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /*overflow: hidden; /*No scrolling*/
}

#root {
  display: flex; 
  justify-content: center;
  align-items: top;
  background: rgb(39, 39, 39); 
  width: 100%;
  height: 100%;
}

*{
  box-sizing: border-box;
  /*outline: 1px solid lime; /* Debugging purposes */
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}
h2 {
  font-size: 3rem;
  line-height: 1.1;
}

button {
  justify-self: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.25rem;
  width: 100%;
  background-color: var(--secondary);
}

label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
}

input{
  background-color: var(--gray);
  color: white; 
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
}

/* Intro Page */
.mainPage{
  display: flex;
  flex-direction: column;
}
.welcome{
  margin: 20px 20px 0px 20px; 
}
.gotACode{
  margin: 0px 10px 0px 10px;
}
.codeContainer{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  gap: 10px; /* Add a gap between all items in the container */
}


/* From Uiverse.io by G4b413l */ 
.inputGroup {
  position: relative;
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  background: transparent;
  border-radius: 0px !important;
 }
 
 .input:focus {
  outline: none;
 }
 
 .inputGroup label {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--primary);
 }
 
 .bar {
  position: relative;
  display: block;
  width: 100%;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--primary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: var(--primary);
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }




/* Reset Button */
.resetButton{
  display: flex;
  width: 100%;
  color: red;
  justify-content: center;
}
/* Driver Login Page Styles */
.submit{
  background-color: #4CAF50;
}
.pageTitle{
  margin: 20px 20px 0px 20px; 
}
.inputsContainer{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  justify-content: center;
}
.fieldLabel{
  font-size: 1.25rem;
}
    
/* Driver Main Page */
.pageDriver{
  width: 100%;
}
.greeting{
  margin: 2rem;
  font-size: 2.7rem;

}
.queue{
  border: 5px solid var(--primary);
  border-radius: 5px;
  padding: 10px;
  font-size: 3rem;
  margin: 20px ;
}
.driverInformation{
  width: 100%;
  border: 5px solid white; 
  border-radius: 1px;
  padding: 10px;
  justify-self: center;
  display: none;
}
.currentPassengerName{
  text-align: center;
  line-height: 1.1;
  font-size: 2.8rem;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}
.clickablePhone{
  display: flex;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid transparent;
  background-color: var(--secondary);
  border-radius: 10px;
  width: 30%;
  justify-content: center;
  
}

/* Queue Table Component */
.queueList{
  margin: 5rem 0px 10px 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: var(--gray);
  padding: 20px;
  border: 4px solid transparent;
  overflow-y: scroll;
  max-height: 60vh;
}

.driver-queue-container table.queue-table th,
.driver-queue-container table.queue-table td {
  padding: 5px; /* Add padding to cells for better readability */
  text-align: left; /* Align text to the left */
  border: 1px solid #ddd; /* Add borders to cells */
}

.driver-queue-container table.queue-table th {
  background-color: rgb(78, 78, 78); /* Add a light background to header cells */
  font-weight: bold; /* Make header text bold */
}
.mapButtons{
  margin-top: 10px;
  justify-self: center;
}
.google-maps-button{
  background-color: var(--secondary);
  margin: 20px 0px;
  justify-self: center;
}
.updateStatus{
  background-color: var(--primary);
  margin: 20px 0px;
  justify-self: center;
}
/* Main Rider Page */
.riderInformation{
  display: flex;
  flex-direction: column;
  margin: 20px ;


}
.currentDriver{
  margin: 20px;
}
/* Driver Info card */
.drivers-container{
  margin: 20px 0px;
}
.driverInfoCard{
  margin: 20px 10px;
}



/* Suggestion Item */

.suggestion-item{
  color: white;
  padding: 5px;
}